[Unit]
DefaultDependencies=no
After=network.target

[Service]
Type=simple
EnvironmentFile=$path/%i.env
Restart=always
RestartSec=3
User=$SUDO_USER
Group=$SUDO_USER
ExecStart=/bin/bash $path/time.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
