[Unit]
DefaultDependencies=no
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/isaric/.config/onvif-cam-poll/%i.env
Restart=always
RestartSec=3
User=isaric
Group=isaric
ExecStart=/bin/bash /home/isaric/.config/onvif-cam-poll/time.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
