[Unit]
DefaultDependencies=no
After=network.target

[Service]
Type=simple
EnvironmentFile=${CONFIG_PATH}/%i.env
Restart=always
RestartSec=3
User=${USER}
Group=${USER}
ExecStart=/bin/bash ${CONFIG_PATH}/goto.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
